
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Spinnaker&family=Ysabeau+SC:wght@500&display=swap')

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 300;
    color: black;
  /*  background-color: #FFD9DA;*/
}

/* create a style for headings and logo*/

h1,h2 {
  font-family: Spinnaker, sans-serif;
  font-style: bold;
  letter-spacing: 4px;
  color: #100F1A;
}
h2 {
  text-transform: uppercase;
}
h3{
  color: #202241;
  font-family: Ysabeau;
  font-style: italic;
  font-size: 96%;
}
p{
  color: #202241;
  font-family: Ysabeau;
  font-size: 125%;

}
#logo {
  margin-left: 50px;
  font-family: Pristina;
  color: #6B4E71;
  font-style: italic;
  letter-spacing: 4px;
  float: left;
  font-size: 500%;
  letter-spacing: 7px;
}
/* create a style for navigation menu*/
#menu {
    font-size: 120%;
    letter-spacing: 3px;
    padding-top: 20px;
}
/* put in the same line logo and menu*/
#menu, #logo {
    line-height: 40px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;

}

#menu a {
    text-decoration: none;
    color: grey;
}

#menu a:hover {
    border-bottom: 3px solid #202241;
    font-size: 130%;
}

.active {
    border-bottom: 1px solid #202241;
}
/* create a style for top image and cover text */

#img-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#top-img {
    height: 450px;
    width: 100%;
    background: url('top.png') no-repeat center center;

/* animates zoom effect on loading page   zooming the top_img*/
    animation-name: zoom_images;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for zoom_images*/
@keyframes zoom_images {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.15);
    }
}
/* create style for second section */
.welcome{
  text-align: center;
  padding-top: 20px;
  margin: 20px 0;
  font-size: 220%;

}
#second{
  height: 520px;
  background-color: #F1E3F3;
  }
.blocs{
  padding-top: 30px;
  width: 25%;
  float: left;
  text-align: center;
  margin: 20px 0;
  font-size: 120%;
  }

.pict{
  width: 180px;
  height: 180px;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}
#third{
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}
